<html>
    <body>
        <table border=1>
            <thead>
                <tr>
                    <th>name</th>
                    <th>color</th>
                    <th>category</th>
                </tr>
            </thead>
            <tbody>
            {% for fruit in all_fruits %}
                <tr>
                    <td>{{fruit.name}}</td>
                    <td>{{fruit.color}}</td>
                    <td>{{fruit.category}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>

